* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*. HEADER. */

.headerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.headerContainer svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.headerLeft,
.headerRigth {
  position: relative;
  z-index: 1;
}

.portrait {
  width: 30vw;
  height: 60vh;
  z-index: 0;
  box-shadow: -1px 1px 8px 1px rgba(147, 135, 135, 0.658);
}

.name {
  position: absolute;
  z-index: 1;
  bottom: 10px;
  left: 10px;
  color: rgb(255, 255, 255);
}

.headerRigth {
  width: 40vw;
  height: 25vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 2.2vh;
  font-weight: 500;
  padding: 10px 10px;
  box-shadow: -1px 1px 8px 1px rgba(147, 135, 135, 0.658);
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

/*. SECTION. */

section {
  display: flex;
  justify-content: center;
}

.mainContainerProjects {
  margin: 100px 0;
}

.projectsHeader {
  margin-bottom: 20px;
  font-size: 2.2vw;
  font-weight: 400;
}
.projectsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vw;
}

.singleProjectDiv {
  width: 20vw;
  height: 35vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: -1px 1px 8px 1px rgba(147, 135, 135, 0.658);
}
.projectImg {
  max-width: 20vw;
}

.projectInfo {
  display: flex;
  gap: 12px;
  padding: 0 3px;
  font-size: 2vh;
}

.infoPara {
  text-align: center;
  font-size: 1.9vh;
}

/*  FOOTER. */

.footerMainContainer {
  font-size: 1.9vw;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vw;
  background-color: #729bc5;
}

.footerLeft {
  width: 30vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}

.contact {
  display: flex;
  gap: 10px;
}

.footerRight img {
  width: 30vw;
  height: 50vh;
}

@media only screen and (max-width: 720px) {
  .headerContainer {
    flex-direction: column;
  }

  .portrait {
    width: 40vw;
    height: 50vh;
  }

  .name {
    top: 10px;
  }

  .headerRigth {
    height: 35vh;
  }

  /*. SECTION */

  .projectsContainer {
    grid-template-columns: repeat(2, 1fr);
  }

  .projectsHeader {
    text-align: center;
    font-size: 3vw;
    font-weight: 600;
  }

  .singleProjectDiv {
    width: 35vw;
    height: 40vh;
  }

  .aboutMe {
    font-size: 2.7vh;
  }

  .projectImg {
    max-width: 35vw;
  }

  /*. FOOTER. */

  .footerLeft h3 {
    font-size: 2.7vh;
  }
  .footerLeft p {
    font-size: 2.1vh;
  }

  a {
    font-size: 3vh;
  }

  .footerRight img {
    width: 40vw;
  }
}

@media only screen and (max-width: 550px) {
  .footerMainContainer {
    flex-direction: column;
  }

  .footerLeft {
    height: 30vh;
  }
}

@media only screen and (max-width: 440px) {
  .portrait,
  .headerRigth {
    width: 60vw;
  }

  .projectsContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .singleProjectDiv {
    width: 55vw;
    height: 40vh;
  }

  .projectImg {
    max-width: 55vw;
  }

  .footerMainContainer {
    gap: 70px;
  }

  .footerRight img {
    width: 60vw;
  }
}
